Repository NOW-SOPT-APP7-GS-HOMETOWN/GsHometown-Android, pull requests merged in 2024-05, with the labels that each got.

#11 [Feat/#10] jepack navi 세팅
  app/build.gradle.kts
  app/src/main/AndroidManifest.xml
  app/src/main/java/com/sopt/now/gs/feature/MainActivity.kt
  app/src/main/java/com/sopt/now/gs/feature/home/HomeFragment.kt
  app/src/main/java/com/sopt/now/gs/feature/mypage/MyPageFragment.kt
  app/src/main/java/com/sopt/now/gs/feature/order/OrderFragment.kt
  app/src/main/java/com/sopt/now/gs/feature/pay/PayFragment.kt
  app/src/main/java/com/sopt/now/gs/feature/reserve/ReserveFragment.kt
  app/src/main/java/com/sopt/now/gs/feature/search/SearchFragment.kt
  app/src/main/java/com/sopt/now/gs/feature/util/KeyStorage.kt
  app/src/main/res/drawable/ic_nav_home_black_24.xml
  app/src/main/res/drawable/ic_nav_my_page_black_24.xml
  app/src/main/res/drawable/ic_nav_order_black_24.xml
  app/src/main/res/drawable/ic_nav_pay_grey_24.xml
  app/src/main/res/drawable/ic_nav_search_black_24.xml
  app/src/main/res/drawable/menu_selector_color.xml
  app/src/main/res/layout/activity_main.xml
  app/src/main/res/layout/fragment_home.xml
  app/src/main/res/layout/fragment_my_page.xml
  app/src/main/res/layout/fragment_order.xml
  app/src/main/res/layout/fragment_pay.xml
  app/src/main/res/layout/fragment_reserve.xml
  app/src/main/res/layout/fragment_search.xml
  app/src/main/res/menu/menu_home.xml
  app/src/main/res/navigation/nav_graph.xml
  app/src/main/res/values/strings.xml
  app/src/main/res/values/themes.xml
  gradle/libs.versions.toml
Labels: feat, ui, 찬우

#20 [Feat/#19] server setting
  app/build.gradle.kts
  app/src/main/AndroidManifest.xml
  app/src/main/java/com/sopt/now/gs/data/api/ApiFactory.kt
  app/src/main/java/com/sopt/now/gs/data/api/service/GsHometownService.kt
  gradle/libs.versions.toml
Labels: feat, 석찬

#15 [Feat/#9] mainhome view
  app/src/main/java/com/sopt/now/gs/feature/home/HomeBanner.kt
  app/src/main/java/com/sopt/now/gs/feature/home/HomeBannerAdapter.kt
  app/src/main/java/com/sopt/now/gs/feature/home/HomeBannerViewHolder.kt
  app/src/main/java/com/sopt/now/gs/feature/home/HomeFragment.kt
  app/src/main/java/com/sopt/now/gs/feature/home/HomeMonthEventAdapter.kt
  app/src/main/java/com/sopt/now/gs/feature/home/HomeMonthEventViewHolder.kt
  app/src/main/java/com/sopt/now/gs/feature/home/HomeViewModel.kt
  app/src/main/java/com/sopt/now/gs/feature/reserve/ReserveFragment.kt
  app/src/main/res/drawable/ic_main_alarm.xml
  app/src/main/res/drawable/ic_main_arrow.xml
  app/src/main/res/drawable/ic_main_chat_bot.xml
  app/src/main/res/drawable/ic_main_shopping_basket.xml
  app/src/main/res/drawable/img_home_bottom_banner.png
  app/src/main/res/drawable/img_home_bottom_banner2.png
  app/src/main/res/drawable/img_home_bottom_banner3.png
  app/src/main/res/drawable/img_home_business_info.png
  app/src/main/res/drawable/img_home_gs25_delivery.png
  app/src/main/res/drawable/img_home_gs25_pickup.png
  app/src/main/res/drawable/img_home_gs25_pre_reservation.png
  app/src/main/res/drawable/img_home_gs25_pre_reservation_btn.png
  app/src/main/res/drawable/img_home_gsfresh_delivery.png
  app/src/main/res/drawable/img_home_gsfresh_pickup.png
  app/src/main/res/drawable/img_home_gsfresh_pre_reservation.png
  app/src/main/res/drawable/img_home_gsfresh_pre_reservation_btn.png
  app/src/main/res/drawable/img_home_month_event.png
  app/src/main/res/drawable/img_home_month_event1.png
  app/src/main/res/drawable/img_home_month_event2.png
  app/src/main/res/drawable/img_home_month_event3.png
  app/src/main/res/drawable/img_home_month_event_banner1.png
  app/src/main/res/drawable/img_home_month_event_banner2.png
  app/src/main/res/drawable/img_home_month_event_banner3.png
  app/src/main/res/drawable/img_home_month_event_window.png
  app/src/main/res/drawable/img_home_refrigerator.png
  app/src/main/res/drawable/img_home_service.png
  app/src/main/res/drawable/img_home_top_banner.png
  app/src/main/res/drawable/img_home_top_banner2.png
  app/src/main/res/drawable/img_home_top_banner3.png
  app/src/main/res/drawable/img_home_week_event.png
  app/src/main/res/layout/fragment_home.xml
  app/src/main/res/layout/item_home_banner.xml
  app/src/main/res/layout/item_home_month_event.xml
  app/src/main/res/navigation/nav_graph.xml
Labels: feat, ui, 석찬

#25 [Feat/#24] server dummy
  app/src/main/java/com/sopt/now/gs/data/api/HeaderInterceptor.kt
  app/src/main/java/com/sopt/now/gs/data/response/BaseResponse.kt
Labels: feat, 찬우

#27 [Feat/#26] 서버 기초 세팅 수정
  app/build.gradle.kts
  app/src/main/java/com/sopt/now/gs/data/api/service/GsHometownService.kt
  app/src/main/java/com/sopt/now/gs/data/response/ResponseHomeDto.kt
  app/src/main/java/com/sopt/now/gs/feature/home/HomeFragment.kt
  app/src/main/java/com/sopt/now/gs/feature/home/HomeViewModel.kt
Labels: fix, 석찬

#16 [Feat/#10] 상세 구매 화면 UI 구현
  app/src/main/java/com/sopt/now/gs/feature/MainActivity.kt
  app/src/main/java/com/sopt/now/gs/feature/purchasedetail/PurchaseDetailFragment.kt
  app/src/main/res/drawable/ic_arrow_right_01.xml
  app/src/main/res/drawable/ic_fab_to_top.xml
  app/src/main/res/drawable/ic_gift_black_44.xml
  app/src/main/res/drawable/ic_heart_un_selected.xml
  app/src/main/res/drawable/ic_line_vertical_grey_04.xml
  app/src/main/res/drawable/ic_share_black_44.xml
  app/src/main/res/drawable/ic_star_total_05.xml
  app/src/main/res/drawable/ic_topbar_back_left_24.xml
  app/src/main/res/drawable/ic_topbar_home_right.xml
  app/src/main/res/drawable/selector_purchase_detail_heart.xml
  app/src/main/res/drawable/selector_tab_item_white.xml
  app/src/main/res/drawable/shape_radius_09.xml
  app/src/main/res/drawable/shape_radius_24.xml
  app/src/main/res/drawable/shape_radius_grey_20.xml
  app/src/main/res/drawable/shape_radius_white_20.xml
  app/src/main/res/layout/activity_main.xml
  app/src/main/res/layout/fragment_purchase_detail.xml
  app/src/main/res/navigation/nav_graph.xml
  app/src/main/res/values/strings.xml
  app/src/main/res/values/themes.xml
Labels: feat, ui, 찬우

#30 [hotfix] : base url 오류 수정
  app/build.gradle.kts
  app/src/main/java/com/sopt/now/gs/data/api/ApiFactory.kt
  app/src/main/java/com/sopt/now/gs/feature/home/HomeViewModel.kt
Labels: hotfix

#31 [Feat/#29] purchase detail api
  app/src/main/java/com/sopt/now/gs/data/api/ApiFactory.kt
  app/src/main/java/com/sopt/now/gs/data/api/ApiKeyStorage.kt
  app/src/main/java/com/sopt/now/gs/data/api/service/GsHometownService.kt
  app/src/main/java/com/sopt/now/gs/data/response/ResponsePurchaseDetailDto.kt
  app/src/main/java/com/sopt/now/gs/feature/purchasedetail/PurchaseDetailFragment.kt
  app/src/main/java/com/sopt/now/gs/feature/purchasedetail/PurchaseDetailViewModel.kt
  app/src/main/java/com/sopt/now/gs/feature/reserve/ReserveCategoryBottomAdapter.kt
  app/src/main/java/com/sopt/now/gs/feature/reserve/ReserveCategoryTopAdapter.kt
  app/src/main/java/com/sopt/now/gs/feature/reserve/ReserveFragment.kt
  app/src/main/java/com/sopt/now/gs/feature/util/PriceFormatter.kt
Labels: feat, 🐨찬우🐨

#33 [Feat/#21] reserve gspay api
  app/src/main/java/com/sopt/now/gs/data/api/service/GsHometownService.kt
  app/src/main/java/com/sopt/now/gs/data/response/ResponseReserveGspayDto.kt
  app/src/main/java/com/sopt/now/gs/feature/reserve/GspayViewModel.kt
  app/src/main/java/com/sopt/now/gs/feature/reserve/ReserveBannerAdapter.kt
  app/src/main/java/com/sopt/now/gs/feature/reserve/ReserveBannerEntity.kt
  app/src/main/java/com/sopt/now/gs/feature/reserve/ReserveDiscountAdapter.kt
  app/src/main/java/com/sopt/now/gs/feature/reserve/ReserveDiscountEntity.kt
  app/src/main/java/com/sopt/now/gs/feature/reserve/ReserveDiscountViewHolder.kt
  app/src/main/java/com/sopt/now/gs/feature/reserve/ReserveDiscountViewModel.kt
  app/src/main/java/com/sopt/now/gs/feature/reserve/ReserveFragment.kt
  app/src/main/java/com/sopt/now/gs/feature/reserve/ReservePageViewHolder.kt
  app/src/main/res/layout/fragment_reserve.xml
  app/src/main/res/layout/item_reserve_discount_menu.xml
  app/src/main/res/layout/item_reserve_top_banner.xml
Labels: feat, 🌷혜음🌷

#36 [Feat/#23] reserve api 연동 - category
  app/src/main/java/com/sopt/now/gs/data/api/service/GsHometownService.kt
  app/src/main/java/com/sopt/now/gs/data/response/ResponseReserveCategoryDto.kt
  app/src/main/java/com/sopt/now/gs/feature/reserve/ReserveCategoryBottomEntity.kt
  app/src/main/java/com/sopt/now/gs/feature/reserve/ReserveCategoryTopEntity.kt
  app/src/main/java/com/sopt/now/gs/feature/reserve/ReserveCategoryViewModel.kt
  app/src/main/java/com/sopt/now/gs/feature/reserve/ReserveDiscountAdapter.kt
  app/src/main/java/com/sopt/now/gs/feature/reserve/ReserveFragment.kt
  app/src/main/java/com/sopt/now/gs/feature/reserve/ReserveGspayViewModel.kt
  app/src/main/java/com/sopt/now/gs/feature/reserve/adapter/ReserveBannerAdapter.kt
  app/src/main/java/com/sopt/now/gs/feature/reserve/adapter/ReserveCategoryBottomAdapter.kt
  app/src/main/java/com/sopt/now/gs/feature/reserve/adapter/ReserveCategoryTopAdapter.kt
  app/src/main/java/com/sopt/now/gs/feature/reserve/adapter/ReserveDiscountViewHolder.kt
  app/src/main/java/com/sopt/now/gs/feature/reserve/adapter/ReservePageViewHolder.kt
  app/src/main/res/drawable/img_reserve_banner1.png
  app/src/main/res/drawable/img_reserve_banner2.png
  app/src/main/res/drawable/img_reserve_bread.png
  app/src/main/res/drawable/img_reserve_category1_chicken.png
  app/src/main/res/drawable/img_reserve_category1_chicken_half.png
  app/src/main/res/drawable/img_reserve_category1_cutlet.png
  app/src/main/res/drawable/img_reserve_category1_pork_skin.png
  app/src/main/res/drawable/img_reserve_category2_chicken_soup.png
  app/src/main/res/drawable/img_reserve_category2_meat_soup.png
  app/src/main/res/drawable/img_reserve_category2_noodle.png
  app/src/main/res/drawable/img_reserve_category2_potato_soup.png
  app/src/main/res/layout/fragment_reserve.xml
  app/src/main/res/layout/item_reserve_top_banner.xml
  app/src/main/res/values/strings.xml
Labels: feat, 🌷혜음🌷

#37 [Feat/#17] floating bottom navi
  app/src/main/java/com/sopt/now/gs/feature/MainActivity.kt
  app/src/main/res/drawable/ic_qr.xml
  app/src/main/res/layout/activity_main.xml
  app/src/main/res/menu/menu_home.xml
Labels: feat, ui, 🐨찬우🐨

#39 [Feat/#38] reserve event api
  app/src/main/java/com/sopt/now/gs/data/api/service/GsHometownService.kt
  app/src/main/java/com/sopt/now/gs/data/response/ResponseReserveEventDto.kt
  app/src/main/java/com/sopt/now/gs/feature/reserve/ReserveFragment.kt
  app/src/main/java/com/sopt/now/gs/feature/reserve/ReserveGspayViewModel.kt
  app/src/main/res/layout/fragment_purchase_detail.xml
  app/src/main/res/layout/fragment_reserve.xml
  app/src/main/res/values/themes.xml
Labels: feat, ui, 🐨찬우🐨

#41 [UI/#40] my page
  app/src/main/res/drawable/ic_gift_24.xml
  app/src/main/res/drawable/ic_love_24.xml
  app/src/main/res/drawable/ic_my_page_arrow_top.xml
  app/src/main/res/drawable/ic_recent_24.xml
  app/src/main/res/drawable/ic_setting.png
  app/src/main/res/drawable/ic_writing_24.xml
  app/src/main/res/drawable/shape_grey05_line_11.xml
  app/src/main/res/drawable/shape_radius_16.xml
  app/src/main/res/layout/fragment_my_page.xml
  app/src/main/res/values/strings.xml
Labels: ui, 🌷혜음🌷, 🐨찬우🐨

#43 [Feat/#28] main home api연결
  app/src/main/java/com/sopt/now/gs/feature/home/HomeBanner.kt
  app/src/main/java/com/sopt/now/gs/feature/home/HomeBannerAdapter.kt
  app/src/main/java/com/sopt/now/gs/feature/home/HomeBannerViewHolder.kt
  app/src/main/java/com/sopt/now/gs/feature/home/HomeFragment.kt
  app/src/main/java/com/sopt/now/gs/feature/home/HomeMonthEventAdapter.kt
  app/src/main/java/com/sopt/now/gs/feature/home/HomeMonthEventViewHolder.kt
  app/src/main/java/com/sopt/now/gs/feature/home/HomeViewModel.kt
  app/src/main/java/com/sopt/now/gs/feature/home/SnapBannerItemDecorator.kt
  app/src/main/res/drawable/img_home_bottom_banner.png
  app/src/main/res/drawable/img_home_bottom_banner2.png
  app/src/main/res/drawable/img_home_bottom_banner3.png
  app/src/main/res/drawable/img_home_month_event.png
  app/src/main/res/drawable/img_home_month_event1.png
  app/src/main/res/drawable/img_home_month_event2.png
  app/src/main/res/drawable/img_home_month_event3.png
  app/src/main/res/drawable/img_home_month_event_banner1.png
  app/src/main/res/drawable/img_home_month_event_banner2.png
  app/src/main/res/drawable/img_home_month_event_banner3.png
  app/src/main/res/layout/fragment_home.xml
  app/src/main/res/layout/item_home_banner.xml
  app/src/main/res/layout/item_home_month_event.xml
  app/src/main/res/values/strings.xml
  app/src/main/res/values/themes.xml
Labels: feat, ui, ⛷️석찬⛷️

#42 Update README.md
  README.md
Labels: ui

#44 Update README.md
  README.md
Labels: chore
